body {
  background: burlywood;
  background-image: url(../images/pexels-jess-vide-4601715.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  font-family: "EB Garamond", serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  align-items: center;
  flex-direction: row; /* Adjusted */
  justify-content: center;
}

#logo {
  max-width: 10rem;
  max-height: 10rem;
}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 5rem;
}

/* Arrange question above alternatives */
.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(184, 157, 109, 0.5);
  width: auto;
  height: auto;
}

#question {
  margin-bottom: 20px;
  background-color: rgba(184, 157, 109, 0.5);
  font-size: 2rem;
}

/* Arrange the alternatives */  
#alternatives-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgba(214, 143, 10, .5);
  align-items: center;
  font-size: 1.5rem;
}

.alternatives-group {
  display: flex;
}

.alternatives-group > div {
  margin: 5px; /* Adjusted */
}

.counters, .buttons {
  margin: 5px;
  border: 5px solid black; /* Adjusted */
}
