body {
  background: burlywood;
  background-image: url(../images/pexels-jess-vide-4601715.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
    font-family: "EB Garamond", serif;
    font-weight: 500;
  display: flex;
  flex-direction: column;

.logo {
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#logo {
  max-width: 10rem;
  max-height: 10rem;
}

h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 5rem;
}

/* Arrange question above alternatives */
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgba(184, 157, 109, 0.5);
  }
  
  #question {
    margin-bottom: 20px;
    width: auto;
    height: auto;
    background-color: rgba(184, 157, 109, 0.5);
  }
/* Arrange the alternatives */  
  #alternatives-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: rgba(214, 143, 10, .5);
    width: auto;
    height: auto;
  }
  
  .alternatives-group {
    display: flex;
  }
  
  .alternatives-group > div {
    width: 50%;
    margin: 5px;
  }
  
  #alternative-a {
    width: auto;
    height: auto;
    background-color: rgba(214, 143, 10, .5);
    margin: 5px;
  }
  #alternative-b {
    width: auto;
    height: auto;
    background-color: rgba(214, 143, 10, .5);
    margin: 5px;
  }
  #alternative-c {
    width: auto;
    height: auto;
    background-color: rgba(214, 143, 10, .5);
    margin: 5px;
  }
  #alternative-d {
    width: auto;
    height: auto;
    background-color: rgba(214, 143, 10, .5);
    margin: 5px;
  }


}
